.section h1 {
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin-top: 1rem;
  background-color: rgb(192, 192, 192);
}

.card img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  margin: 10px;
}

.tag-red {
  background: #690f18;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card h3,
p {
   display: flex;
  color: var(--primary-color);
  justify-content: center;
  margin-block-end: 5px;
}
